<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Encryption Key</title>
    <link rel="stylesheet" href="../static/display_key.css">
    <link rel="icon" href="../static/images/default-removebg-preview.png">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/cover-removebg-preview.png" alt="Company Logo">
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h1>Your Encryption Key</h1>
            <p class="key">{{ key }}</p>
            <div class="nav-buttons">
                <a href="/">Go Home</a>
            </div>
        </div>
    </div>
</body>
</html>
