<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compact</title>
    <link rel="stylesheet" href="../static/patient.css">
    <link rel="icon" href="../static/images/default-removebg-preview.png">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img class="compact_logo" src="../static/images/cover-removebg-preview.png" alt="Compact Logo">
        </div>
    </header>
    <main class="content">
        <div class="container">
            <h1>Patient Details</h1>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% else %}
                <div class="patient-details">
                    <p><strong>ID:</strong> {{ patient._id }}</p>
                    <p><strong>Name:</strong> {{ patient.name }}</p>
                    <p><strong>Doctors:</strong> {{ patient.doctors | join(', ') }}</p>
                </div>
            {% endif %}
        </div>
    </main>
</body>
</html>
