<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compact</title>
    <link rel="stylesheet" href="../static/uploads.css">
    <link rel="icon" href="../static/images/default-removebg-preview.png">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/cover-removebg-preview.png" alt="Company Logo">
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h1>Upload a File</h1>
            <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
                <input type="file" name="file" required><br><br>
                <input type="submit" value="Upload">
            </form>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            <br>
            <a href="{{ url_for('index') }}" class="button">Back to Home</a>
        </div>
    </div>
</body>
</html>
